body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  width: 1200px;
}

/* Navigation Section  */

header {
  display: inline-flex;
  height: 69px;
  align-items: center;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-top: -7px;
  background-color: black;
}

.logo img {
  margin-left: 10px;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 20px;
}

header nav a {
  color: seashell;
  text-align: right;
}

/* First Image and Text  */

.mission {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("../../resources/images/img-mission-background.jpg");
  height: 700px;
  width: 100%;
  margin-left: 30px;

}

.missioncontent {
  background-color: black;
  margin: auto;
  width: 100%;
  text-align: center;
}

.missioncontent h2,
H4{
  padding: 10px;
  margin: 0px;
}

/* Second Section  */

.stockimages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0px auto 70px;

}

.im{
  margin: 10px;
}

.im p {
  text-align: center;
  margin: 0px;
  padding: 5px;
}

.secondtexts {
  text-align: center;
  padding-top: 50px;
}

/* Third Section Location  */

.locationimage {
  background-image: url("../../resources/images/img-locations-background.jpg");
  height: 500px;
  width: 100%;
  margin-left: 30px;
}

.headlocation {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  margin-bottom: 10px
}

.headlocation h3 {
  margin: 0px;

}

.stores-flexcontainer {
  display: flex;
  justify-content: center;
  flex-direction: wrap;
}

.store {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  background-color: black;
  width: 300px;
  height: 300px;
  margin: 5px 20px;
  text-align: center;
}

/* contact Section  */

.contact-flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  height: 200px;
  text-align: center;
}

.contact h2{
  padding-top: 10px;
  margin: 0px;
}

/* Copyright Section  */

.Copright {
  margin-left: 20px
}
