body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* Navigation Section  */

header {
  display: inline-flex;
  height: 69px;
  align-items: center;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin-top: -7px;
  background-color: black;
}

.logo img {
  margin-left: 10px;
  margin-right: ;
}

nav {
  text-align: right;
  flex-grow: 1;
  padding-right: 10px;
}

header nav a {
  color: seashell;
  text-align: right;
}

/* First Image and Text  */

.mission {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("../../resources/images/img-mission-background.jpg");
  height: 700px;
}

.missioncontent {
  background-color: black;
  margin: auto;
  width: 100%;
  text-align: center;;
}

/* Second Section  */

.stockimages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  margin: auto;
}

.im {
  padding: 5px;
  margin-bottom: ;
}

.im p {
  text-align: center;
}

.secondtexts {
  text-align: center;
}
